// Bootstrap library.
@import 'base/bootstrap';

// Layout
@import 'layout/_all.scss';
@import 'components/_all.scss';

//Custom Page Styles
@import 'pages/_all.scss';

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}